body {
	background-color: #7b0828;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hour_marker {
	fill: transparent;
	stroke: black;
	stroke-width: 13;
	stroke-dasharray: 0.2 4.8;
}

.minute_marker {
	fill: transparent;
	stroke: white;
	stroke-width: 10;
	stroke-dasharray: 0.2 0.8;
}

.hand {
	stroke: #ffffff;
	stroke-width: 2;
	stroke-linecap: round;
}

.hand_thick {
	stroke-width: 7;
}

.hand_second {
	stroke: yellow;
}